.lt-main .lt_sort{
    height: 30px;
    background-color: #EEE;
    font-size: 12px;
}

.lt-main .lt_sort a{
    float: left;
    width: 25%;
    text-align: center;
    line-height: 30px;
    color: #666;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.lt-main .lt_sort i {
    padding: 0 5px;
}

.lt-main .lt_sort a.current{
    color: orange;
}

/* 加载 */
.loding{
    width:50px;
    height: 50px;
    border: 3px solid #006699;
    position: absolute;
    top: 200px;
    left: 50%;
    transform:translateX(-50%);
    /* 使用动画 */
    /* animation:动画名 动画时间 执行次数 */
    animation:rotate 1s infinite;
}


/* 定义动画 */
@keyframes rotate{
    from{
        transform: translateX(-50%) rotate(0deg);
    }to{
        transform: translateX(-50%) rotate(360deg);
    }
}